    .nav-bar ul {
        background-color: #c3dcff;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        justify-content: left;
        display: flex;
        align-items: center;
        gap: 15px;
        list-style: none;
        padding: 20px;
    }
    
    .nav-bar a {
      text-decoration: none;
      color: #333;
    }
    
    .nav-bar li a:hover {
      color: #007bff;
    }